{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-09-21",
    "endpointPrefix":"amsskms",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"amsskms",
    "serviceFullName":"AWS Managed Services SKMS",
    "serviceId":"AmsSkms",
    "signatureVersion":"v4",
    "signingName":"amsskms",
    "targetPrefix":"SentinelProvisioningService",
    "uid":"amsskms-2018-09-21"
  },
  "operations":{
    "GetStack":{
      "name":"GetStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetStackRequest"},
      "output":{"shape":"GetStackResponse"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about the specified stack. You can get a list of stack IDs by calling <a>ListStackSummaries</a>.</p>"
    },
    "GetSubnet":{
      "name":"GetSubnet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSubnetRequest"},
      "output":{"shape":"GetSubnetResponse"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about the specified subnet. You can get a list of subnets associated with a particular VPC by calling <a>GetVpc</a>.</p>"
    },
    "GetVpc":{
      "name":"GetVpc",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetVpcRequest"},
      "output":{"shape":"GetVpcResponse"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about the specified VPC. You can get a list of VPCs by calling <a>ListVpcSummaries</a>.</p>"
    },
    "ListAmis":{
      "name":"ListAmis",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAmisRequest"},
      "output":{"shape":"ListAmisResponse"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about the Amazon Machine Images (AMIs) associated with the specified VPC. Optionally, you can specify a filter to narrow the results to Windows AMIs only.</p>"
    },
    "ListStackSummaries":{
      "name":"ListStackSummaries",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListStackSummariesRequest"},
      "output":{"shape":"ListStackSummariesResponse"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidArgumentException"}
      ],
      "documentation":"<p>Returns summary information about stacks in the current account. Optionally, you can specify filters to narrow the results. Use the returned <code>StackId</code> with <a>GetStack</a> to get more information about a particular stack.</p>"
    },
    "ListSubnetSummaries":{
      "name":"ListSubnetSummaries",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSubnetSummariesRequest"},
      "output":{"shape":"ListSubnetSummariesResponse"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidArgumentException"}
      ],
      "documentation":"<p>Returns summary information about subnets in the current account. Optionally, you can specify filters to narrow the results. Use the returned <code>SubnetId</code> with the <a>GetSubnet</a> operation to get more information about a particular subnet. </p>"
    },
    "ListVpcSummaries":{
      "name":"ListVpcSummaries",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListVpcSummariesRequest"},
      "output":{"shape":"ListVpcSummariesResponse"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidArgumentException"}
      ],
      "documentation":"<p>Returns summary information about available VPCs. Optionally, you can specify filters to narrow the results. Use a <code>VpcId</code> with <a>GetVpc</a> to get more information about a particular VPC.</p>"
    }
  },
  "shapes":{
    "Ami":{
      "type":"structure",
      "members":{
        "AmiId":{
          "shape":"string",
          "documentation":"<p>The ID of the AMI.</p>"
        },
        "AmiType":{
          "shape":"string",
          "documentation":"<p>The type of the instance (for example, t2.micro).</p>"
        },
        "Architecture":{
          "shape":"string",
          "documentation":"<p>The architecture of the instance (i386 or x86_64).</p>"
        },
        "BlockDeviceMappings":{
          "shape":"BlockDeviceMappings",
          "documentation":"<p>The block device mappings for the instance.</p>"
        },
        "CreationTime":{
          "shape":"string",
          "documentation":"<p>The date and time that the AMI was created.</p>"
        },
        "Description":{
          "shape":"sensitivestring",
          "documentation":"<p>The description of the AMI.</p>"
        },
        "Hypervisor":{
          "shape":"string",
          "documentation":"<p>The hypervisor type (ovm or xen).</p>"
        },
        "KernelId":{
          "shape":"string",
          "documentation":"<p>The kernel ID of the instance.</p>"
        },
        "Name":{
          "shape":"sensitivestring",
          "documentation":"<p>The name of the AMI.</p>"
        },
        "Platform":{
          "shape":"string",
          "documentation":"<p>The platform of the AMI: \"windows\" if the instance OS is Microsoft Windows Server; otherwise, blank.</p>"
        },
        "RamdiskId":{
          "shape":"string",
          "documentation":"<p>The RAM disk ID of the instance.</p>"
        },
        "RootDeviceName":{
          "shape":"string",
          "documentation":"<p>The name of the root device (for example, /dev/sda1 or /dev/xvda).</p>"
        },
        "RootDeviceType":{
          "shape":"string",
          "documentation":"<p>The type of the root device (ebs or instance-store).</p>"
        },
        "SriovNetSupport":{
          "shape":"string",
          "documentation":"<p>The type of SR-IOV support.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>One or more user-defined key/value pairs associated with the AMI.</p>"
        },
        "VirtualizationType":{
          "shape":"string",
          "documentation":"<p>The type of virtualization (paravirtual or hvm).</p>"
        }
      },
      "documentation":"<p>Information about an Amazon Machine Image (AMI), which is a template for a software configuration (for example, an operating system, an application server, and applications).</p>"
    },
    "Amis":{
      "type":"list",
      "member":{"shape":"Ami"}
    },
    "BlockDeviceMapping":{
      "type":"structure",
      "members":{
        "DeviceName":{
          "shape":"string",
          "documentation":"<p>The name of the device in Amazon EC2. For example, \"/dev/sda1\".</p>"
        },
        "Ebs":{
          "shape":"EbsBlockDevice",
          "documentation":"<p>Specifications for an Amazon Elastic Block Store (Amazon EBS) volume.</p>"
        },
        "NoDevice":{
          "shape":"string",
          "documentation":"<p>When present, unmaps a device that is defined in the AMI.</p>"
        },
        "VirtualName":{
          "shape":"string",
          "documentation":"<p>The name of the virtual device. For example, \"ephemeral0\".</p>"
        }
      },
      "documentation":"<p>An AWS CloudFormation block device mapping description. For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-ec2-blockdev-mapping.html\">Amazon EC2 Block Device Mapping Property</a> in the AWS CloudFormation user guide.</p>"
    },
    "BlockDeviceMappings":{
      "type":"list",
      "member":{"shape":"BlockDeviceMapping"}
    },
    "EbsBlockDevice":{
      "type":"structure",
      "members":{
        "DeleteOnTermination":{
          "shape":"boolean",
          "documentation":"<p>Indicates whether the volume should be deleted after it is terminated.</p>"
        },
        "Encrypted":{
          "shape":"boolean",
          "documentation":"<p>Indicates whether the volume is encrypted.</p>"
        },
        "Iops":{
          "shape":"int",
          "documentation":"<p>The number of I/O operations per second (IOPS) that the volume supports.</p>"
        },
        "SnapshotId":{
          "shape":"string",
          "documentation":"<p>The snapshot ID of the volume to use to create the block device.</p>"
        },
        "VolumeSize":{
          "shape":"int",
          "documentation":"<p>The volume size, in gibibytes (GiB).</p>"
        },
        "VolumeType":{
          "shape":"string",
          "documentation":"<p>The volume type. You can specify <code>standard</code>, <code>io1</code>, or <code>gp2</code>. If you set the type to <code>io1</code>, you must also set the <code>Iops</code> property.</p>"
        }
      },
      "documentation":"<p>Specifies the characteristics of an Amazon Elastic Block Store (Amazon EBS) volume. For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-ec2-blockdev-template.html\">Amazon Elastic Block Store Block Device Property</a> in the AWS CloudFormation user guide.</p>"
    },
    "Filter":{
      "type":"structure",
      "members":{
        "Attribute":{
          "shape":"string",
          "documentation":"<p>The name of an attribute to use as a filter.</p>"
        },
        "Value":{
          "shape":"string",
          "documentation":"<p>The value of an attribute to use as a filter.</p>"
        }
      },
      "documentation":"<p>An attribute/value pair used to specify search criteria.</p>"
    },
    "Filters":{
      "type":"list",
      "member":{"shape":"Filter"}
    },
    "GetStackRequest":{
      "type":"structure",
      "required":["StackId"],
      "members":{
        "Locale":{
          "shape":"string",
          "documentation":"<p>The locale (language) to return information in. The default is English. *For future use; not currently implemented*</p>"
        },
        "StackId":{
          "shape":"string",
          "documentation":"<p>The ID of the stack to get information about.</p>"
        }
      },
      "documentation":"<p>The parameters for the <a>GetStack</a> operation.</p>"
    },
    "GetStackResponse":{
      "type":"structure",
      "members":{
        "Stack":{
          "shape":"Stack",
          "documentation":"<p>Information about the specified stack.</p>"
        }
      },
      "documentation":"<p>The response to the <a>GetStack</a> operation.</p>"
    },
    "GetSubnetRequest":{
      "type":"structure",
      "required":["SubnetId"],
      "members":{
        "Locale":{
          "shape":"string",
          "documentation":"<p>The locale (language) to return information in. The default is English. *For future use; not currently implemented*</p>"
        },
        "SubnetId":{
          "shape":"string",
          "documentation":"<p>The ID of the subnet, in the format subnet-a1b2c3d4.</p>"
        }
      },
      "documentation":"<p>The parameters for the <a>GetSubnet</a> operation.</p>"
    },
    "GetSubnetResponse":{
      "type":"structure",
      "members":{
        "Subnet":{
          "shape":"Subnet",
          "documentation":"<p>Information about the specified subnet.</p>"
        }
      },
      "documentation":"<p>The response to the <a>GetSubnet</a> operation.</p>"
    },
    "GetVpcRequest":{
      "type":"structure",
      "required":["VpcId"],
      "members":{
        "Locale":{
          "shape":"string",
          "documentation":"<p>The locale (language) to return information in. The default is English. *For future use; not currently implemented*</p>"
        },
        "VpcId":{
          "shape":"string",
          "documentation":"<p>The ID of the VPC, in the form vpc-a1b2c3d4.</p>"
        }
      },
      "documentation":"<p>The parameters for the <a>GetVpc</a> operation.</p>"
    },
    "GetVpcResponse":{
      "type":"structure",
      "members":{
        "Vpc":{
          "shape":"Vpc",
          "documentation":"<p>Information about the specified VPC.</p>"
        }
      },
      "documentation":"<p>The response to the <a>GetVpc</a> operation.</p>"
    },
    "InternalServerError":{
      "type":"structure",
      "members":{
        "Message":{
          "shape":"string",
          "documentation":"<p>An internal server error has occurred.</p>"
        }
      },
      "documentation":"<p>An internal server error has occurred.</p>",
      "exception":true,
      "fault":true
    },
    "InvalidArgumentException":{
      "type":"structure",
      "members":{
        "Message":{
          "shape":"string",
          "documentation":"<p>The specified argument is not valid.</p>"
        }
      },
      "documentation":"<p>The specified argument is not valid.</p>",
      "exception":true
    },
    "ListAmisRequest":{
      "type":"structure",
      "required":["VpcId"],
      "members":{
        "Filters":{
          "shape":"Filters",
          "documentation":"<p>Attribute/value pairs to narrow the results returned. Filter criteria are combined in a logical AND operation. By default, information about all AMIs is returned. To return only Windows AMIs, specify the filter attribute <code>Platform</code> and the filter value <code>windows</code>. This is the only supported filter option.</p>"
        },
        "MaxResults":{
          "shape":"int",
          "documentation":"<p>*For future use; not currently implemented*</p>"
        },
        "NextToken":{
          "shape":"string",
          "documentation":"<p>*For future use; not currently implemented*</p>"
        },
        "VpcId":{
          "shape":"string",
          "documentation":"<p>The ID of the VPC, in the form vpc-a1b2c3d4.</p>"
        }
      },
      "documentation":"<p>The parameters for the <a>ListAmis</a> operation.</p>"
    },
    "ListAmisResponse":{
      "type":"structure",
      "members":{
        "Amis":{
          "shape":"Amis",
          "documentation":"<p>The AMIs associated with the VPC.</p>"
        },
        "NextToken":{
          "shape":"string",
          "documentation":"<p>*For future use; not currently implemented*</p>"
        }
      },
      "documentation":"<p>The response to the <a>ListAmis</a> operation.</p>"
    },
    "ListStackSummariesRequest":{
      "type":"structure",
      "members":{
        "Filters":{
          "shape":"Filters",
          "documentation":"<p>Attribute/value pairs to narrow the results returned. Filter criteria are combined in a logical AND operation. *For future use; not currently implemented*.</p>"
        },
        "Locale":{
          "shape":"string",
          "documentation":"<p>The locale (language) to return information in. The default is English. *For future use; not currently implemented*</p>"
        },
        "MaxResults":{
          "shape":"int",
          "documentation":"<p>The maximum number of items to return in one batch. Valid values are 20-1000.</p>"
        },
        "NextToken":{
          "shape":"string",
          "documentation":"<p>If the response contains more items than <code>MaxResults</code>, only <code>MaxResults</code> items are returned, and a <code>NextToken</code> pagination token is returned in the response. To retrieve the next batch of items, reissue the request and include the returned token in the <code>NextToken</code> parameter. When all items have been returned, the response does not contain a pagination token value.</p>"
        }
      },
      "documentation":"<p>The parameters for the <a>ListStackSummaries</a> operation.</p>"
    },
    "ListStackSummariesResponse":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"string",
          "documentation":"<p>If the response contains more items than <code>MaxResults</code>, only <code>MaxResults</code> items are returned, and a <code>NextToken</code> pagination token is returned in the response. To retrieve the next batch of items, reissue the request and include the returned token in the <code>NextToken</code> parameter. When all items have been returned, the response does not contain a pagination token value.</p>"
        },
        "StackSummaries":{
          "shape":"StackSummaries",
          "documentation":"<p>Summary information about the stacks that meet the specified criteria.</p>"
        }
      },
      "documentation":"<p>The response to the <a>ListStackSummaries</a> operation.</p>"
    },
    "ListSubnetSummariesRequest":{
      "type":"structure",
      "members":{
        "Filters":{
          "shape":"Filters",
          "documentation":"<p>Attribute/value pairs to narrow the results returned. Filter criteria are combined in a logical AND operation. Valid filter attribute: <code>VpcId</code> </p>"
        },
        "Locale":{
          "shape":"string",
          "documentation":"<p>The locale (language) to return information in. The default is English. *For future use; not currently implemented*</p>"
        },
        "MaxResults":{
          "shape":"int",
          "documentation":"<p>The maximum number of items to return in one batch. Valid values are 20-1000.</p>"
        },
        "NextToken":{
          "shape":"string",
          "documentation":"<p>If the response contains more items than <code>MaxResults</code>, only <code>MaxResults</code> items are returned, and a <code>NextToken</code> pagination token is returned in the response. To retrieve the next batch of items, reissue the request and include the returned token in the <code>NextToken</code> parameter. When all items have been returned, the response does not contain a pagination token value.</p>"
        }
      }
    },
    "ListSubnetSummariesResponse":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"string",
          "documentation":"<p>If the response contains more items than <code>MaxResults</code>, only <code>MaxResults</code> items are returned, and a <code>NextToken</code> pagination token is returned in the response. To retrieve the next batch of items, reissue the request and include the returned token in the <code>NextToken</code> parameter. When all items have been returned, the response does not contain a pagination token value.</p>"
        },
        "SubnetSummaries":{
          "shape":"SubnetSummaries",
          "documentation":"<p>Summary information about the specified subnets.</p>"
        }
      }
    },
    "ListVpcSummariesRequest":{
      "type":"structure",
      "members":{
        "Filters":{
          "shape":"Filters",
          "documentation":"<p>Attribute/value pairs to narrow the results returned. Filter criteria are combined in a logical AND operation. *For future use; not currently implemented*</p>"
        },
        "Locale":{
          "shape":"string",
          "documentation":"<p>The locale (language) to return information in. The default is English. *For future use; not currently implemented*</p>"
        },
        "MaxResults":{
          "shape":"int",
          "documentation":"<p>The maximum number of items to return in one batch. Valid values are 20-1000.</p>"
        },
        "NextToken":{
          "shape":"string",
          "documentation":"<p>If the response contains more items than <code>MaxResults</code>, only <code>MaxResults</code> items are returned, and a <code>NextToken</code> pagination token is returned in the response. To retrieve the next batch of items, reissue the request and include the returned token in the <code>NextToken</code> parameter. When all items have been returned, the response does not contain a pagination token value.</p>"
        }
      },
      "documentation":"<p>The parameters for the <a>ListVpcSummaries</a> operation.</p>"
    },
    "ListVpcSummariesResponse":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"string",
          "documentation":"<p>If the response contains more items than <code>MaxResults</code>, only <code>MaxResults</code> items are returned, and a <code>NextToken</code> pagination token is returned in the response. To retrieve the next batch of items, reissue the request and include the returned token in the <code>NextToken</code> parameter. When all items have been returned, the response does not contain a pagination token value.</p>"
        },
        "VpcSummaries":{
          "shape":"VpcSummaries",
          "documentation":"<p>Summary information about all available VPCs.</p>"
        }
      },
      "documentation":"<p>The response to the <a>ListVpcSummaries</a> operation.</p>"
    },
    "Output":{
      "type":"structure",
      "members":{
        "Key":{
          "shape":"string",
          "documentation":"<p>The key of a stack output item.</p>"
        },
        "Value":{
          "shape":"string",
          "documentation":"<p>The value of a stack output item.</p>"
        }
      },
      "documentation":"<p>A key/value pair this is returned when a <a>Stack</a> is created.</p>",
      "sensitive":true
    },
    "Outputs":{
      "type":"list",
      "member":{"shape":"Output"},
      "sensitive":true
    },
    "Parameter":{
      "type":"structure",
      "members":{
        "Key":{
          "shape":"string",
          "documentation":"<p>The key of a stack parameter.</p>"
        },
        "Value":{
          "shape":"string",
          "documentation":"<p>The value for a stack parameter.</p>"
        }
      },
      "documentation":"<p>A key/value pair that specifies a parameter name and value when creating a <a>Stack</a>.</p>",
      "sensitive":true
    },
    "Parameters":{
      "type":"list",
      "member":{"shape":"Parameter"},
      "sensitive":true
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{
          "shape":"string",
          "documentation":"<p>The specified resource cannot be found.</p>"
        }
      },
      "documentation":"<p>The specified resource cannot be found. Actual status code: 404</p>",
      "exception":true
    },
    "Stack":{
      "type":"structure",
      "members":{
        "CreatedTime":{
          "shape":"datetime",
          "documentation":"<p>The date and time that the stack was created.</p>"
        },
        "Description":{
          "shape":"sensitivestring",
          "documentation":"<p>The description of the stack.</p>"
        },
        "Name":{
          "shape":"sensitivestring",
          "documentation":"<p>The name of the stack.</p>"
        },
        "Outputs":{
          "shape":"Outputs",
          "documentation":"<p>The outputs from the creation of the stack.</p>"
        },
        "Parameters":{
          "shape":"Parameters",
          "documentation":"<p>The parameters that were used to create the stack.</p>"
        },
        "StackId":{
          "shape":"string",
          "documentation":"<p>The ID of the stack.</p>"
        },
        "StackTemplateId":{
          "shape":"string",
          "documentation":"<p>The ID of the stack template.</p>"
        },
        "Status":{
          "shape":"StackStatus",
          "documentation":"<p>The status of the stack. Possible values: <code>CreateCompleted</code> | <code>CreateInProgress</code> | <code>CreateFailed</code> | <code>UpdateCompleted</code> | <code>UpdateInProgress</code> | <code>RollbackCompleted</code> | <code>RollbackInProgress</code> | <code>RollbackFailed</code> | <code>DeleteCompleted</code> | <code>DeleteInProgress</code> | <code>DeleteFailed</code> | <code>Unknown</code> </p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>One or more user-defined key/value pairs associated with the stack.</p>"
        },
        "VpcId":{
          "shape":"string",
          "documentation":"<p>The ID of the VPC associated with the stack.</p>"
        }
      },
      "documentation":"<p>Information about a stack, which is one or more infrastructure components that have been instantiated in response to a request for change (RFC).</p>"
    },
    "StackStatus":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"string",
          "documentation":"<p>The ID of the status.</p>"
        },
        "Name":{
          "shape":"string",
          "documentation":"<p>The text description of the status.</p>"
        }
      },
      "documentation":"<p>The status of a stack.</p>"
    },
    "StackSummaries":{
      "type":"list",
      "member":{"shape":"StackSummary"}
    },
    "StackSummary":{
      "type":"structure",
      "members":{
        "CreatedTime":{
          "shape":"datetime",
          "documentation":"<p>The date and time that the stack was created.</p>"
        },
        "Name":{
          "shape":"sensitivestring",
          "documentation":"<p>The name of the stack.</p>"
        },
        "StackId":{
          "shape":"string",
          "documentation":"<p>The ID of the stack.</p>"
        },
        "StackTemplateId":{
          "shape":"string",
          "documentation":"<p>The ID of the stack template that was used to create the stack.</p>"
        },
        "VpcId":{
          "shape":"string",
          "documentation":"<p>The ID of the VPC, in the form vpc-a1b2c3d4e5f67890e of the stack.</p>"
        }
      },
      "documentation":"<p>Summary information about a stack, which is one or more infrastructure components that have been instantiated in response to a request for change (RFC).</p>"
    },
    "Subnet":{
      "type":"structure",
      "members":{
        "AvailableIpAddressCount":{
          "shape":"int",
          "documentation":"<p>The number of IP addresses supported by the subnet.</p>"
        },
        "CidrBlock":{
          "shape":"string",
          "documentation":"<p>The Classless Inter-Domain Routing (CIDR) block that specifies the IP addresses for the subnet.</p>"
        },
        "CreatedTime":{
          "shape":"datetime",
          "documentation":"<p>The date and time that the subnet was created.</p>"
        },
        "Description":{
          "shape":"sensitivestring",
          "documentation":"<p>The description of the subnet.</p>"
        },
        "LastModifiedTime":{
          "shape":"datetime",
          "documentation":"<p>The date and time that the subnet was most recently modified.</p>"
        },
        "Name":{
          "shape":"sensitivestring",
          "documentation":"<p>The name of the subnet.</p>"
        },
        "Region":{
          "shape":"string",
          "documentation":"<p>The region code of the subnet (for example, us-east-1).</p>"
        },
        "SubnetId":{
          "shape":"string",
          "documentation":"<p>The subnet ID of the subnet (for example, subnet-a1b2c34d).</p>"
        },
        "Visibility":{
          "shape":"Visibility",
          "documentation":"<p>The visibility of the subnet (<code>Public</code>, <code>Private</code>, or <code>PrivateAndPublic</code>).</p>"
        },
        "VpcId":{
          "shape":"string",
          "documentation":"<p>The ID of the VPC, in the form vpc-a1b2c3d4, that contains the subnet.</p>"
        }
      },
      "documentation":"<p>Information about a subnet. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_Subnets.html#VPCSubnet\">Subnets in Your VPC</a>.</p>"
    },
    "SubnetSummaries":{
      "type":"list",
      "member":{"shape":"SubnetSummary"}
    },
    "SubnetSummary":{
      "type":"structure",
      "members":{
        "CreatedTime":{
          "shape":"datetime",
          "documentation":"<p>The date and time that the subnet was created.</p>"
        },
        "LastModifiedTime":{
          "shape":"datetime",
          "documentation":"<p>The date and time that the subnet was most recently modified.</p>"
        },
        "Name":{
          "shape":"sensitivestring",
          "documentation":"<p>The name of the subnet.</p>"
        },
        "SubnetId":{
          "shape":"string",
          "documentation":"<p>The ID of the subnet, in the format subnet-a1b2c3d4.</p>"
        },
        "Visibility":{
          "shape":"Visibility",
          "documentation":"<p>The visibility of the subnet.</p>"
        }
      },
      "documentation":"<p>Summary information about a subnet. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_Subnets.html#VPCSubnet\">Subnets in Your VPC</a>.</p>"
    },
    "Tag":{
      "type":"structure",
      "members":{
        "Key":{
          "shape":"string",
          "documentation":"<p>The key or name of the tag.</p>"
        },
        "Value":{
          "shape":"string",
          "documentation":"<p>The value associated with the key or name.</p>"
        }
      },
      "documentation":"<p>A key/value pair associated with a resource.</p>",
      "sensitive":true
    },
    "Tags":{
      "type":"list",
      "member":{"shape":"Tag"},
      "sensitive":true
    },
    "Visibility":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"string",
          "documentation":"<p>The ID of the visibility setting.</p>"
        },
        "Name":{
          "shape":"string",
          "documentation":"<p>The text description of the visibility setting.</p>"
        }
      },
      "documentation":"<p>The visibility setting of a VPC or subnet.</p>"
    },
    "Vpc":{
      "type":"structure",
      "members":{
        "CreatedTime":{
          "shape":"datetime",
          "documentation":"<p>The date and time that the VPC was created.</p>"
        },
        "Description":{
          "shape":"sensitivestring",
          "documentation":"<p>The description of the VPC.</p>"
        },
        "LastModifiedTime":{
          "shape":"datetime",
          "documentation":"<p>The date and time that the VPC was most recently modified.</p>"
        },
        "Name":{
          "shape":"sensitivestring",
          "documentation":"<p>The name of the VPC.</p>"
        },
        "Region":{
          "shape":"string",
          "documentation":"<p>The region code of the VPC (for example, us-east-1).</p>"
        },
        "Visibility":{
          "shape":"Visibility",
          "documentation":"<p>The visibility of the VPC.</p>"
        },
        "VpcId":{
          "shape":"string",
          "documentation":"<p>The ID of the VPC, in the form vpc-a1b2c3d4.</p>"
        }
      },
      "documentation":"<p>Summary information about a VPC. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_Subnets.html\">VPCs and Subnets</a>.</p>"
    },
    "VpcSummaries":{
      "type":"list",
      "member":{"shape":"VpcSummary"}
    },
    "VpcSummary":{
      "type":"structure",
      "members":{
        "CreatedTime":{
          "shape":"datetime",
          "documentation":"<p>The date and time that the VPC was created.</p>"
        },
        "LastModifiedTime":{
          "shape":"datetime",
          "documentation":"<p>The date and time that the VPC was most recently modified.</p>"
        },
        "Name":{
          "shape":"sensitivestring",
          "documentation":"<p>The name of the VPC.</p>"
        },
        "Visibility":{
          "shape":"Visibility",
          "documentation":"<p>The visibility of the VPC.</p>"
        },
        "VpcId":{
          "shape":"string",
          "documentation":"<p>The ID of the VPC, in the form vpc-a1b2c3d4e5f67890e.</p>"
        }
      },
      "documentation":"<p>Summary information about a VPC. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_Subnets.html\">VPCs and Subnets</a>.</p>"
    },
    "boolean":{"type":"boolean"},
    "datetime":{"type":"string"},
    "int":{"type":"integer"},
    "sensitivestring":{
      "type":"string",
      "sensitive":true
    },
    "string":{"type":"string"}
  },
  "documentation":"<fullname>AWS Managed Services SKMS</fullname> <p>You can use the SKMS API to get information about:</p> <ul> <li> <p>AMIs (<a>ListAmis</a>)</p> </li> <li> <p>Stacks (<a>ListStackSummaries</a> and <a>GetStack</a>)</p> </li> <li> <p>Subnets (<a>ListSubnetSummaries</a> and <a>GetSubnet</a>)</p> </li> <li> <p>VPCs (<a>ListVpcSummaries</a> and <a>GetVpc</a>)</p> </li> </ul> <p>For more information and examples, see <a href=\"http://docs.aws.amazon.com/managedservices/latest/userguide/skms.html\">Service Knowledge Management</a> in the <i>AWS Managed Services User Guide</i>.</p> <p> <b>Service Endpoint</b> </p> <p>The HTTP endpoint for the SKMS API is:</p> <ul> <li> <p>https://amsskms.us-east-1.amazonaws.com</p> </li> </ul>"
}
